<%-include('header')%>
  <!-- nav -->
  <%- include('nav-index')%>

    <!-- page_top -->
    <div class="home_page_top">
      <!--  -->
      <div class="home_page_top_left">
        <h1><span>Untitled</span> blog.</h1>
        <p>Hey, we're Logoipsum. See our thoughts, stories and ideas.
          Thoughts & ideas arround the things that acutally matter.
        </p>
        <a href="/signup"><button>Start reading</button></a>
      </div>
      <!--  -->
    </div>







    <!--  -->
    <%-include('footer')%>