<nav class="nav-userHome">
    <!--  -->
    <div class="nav-userHome_left">
        <a href="/home">
            <h1>
                Logo<span>ipsum</span>
            </h1>
            <div class="logodot"></div>
        </a>
    </div>
    <!--  -->
    <div class="nav-userHome_middle">
        <!--  -->
        <a id="home" href="/home">Home</a>
        <!--  -->
        <a id="stories" href="/stories">Stories</a>
        <!--  -->
        <a id="write" href="/write">write</a>
        <!--  -->
        <a id="settings" href="/settings">Settings</a>
        <!--  -->
    </div>
    <!--  -->
    <div class="nav-userHome_right">
        <!--  -->
        <a href="/profile" class="user_menu_list">
            <div id="profile_img"
                style="background-image: url('/uploads/<%= user.avatar%>'); background-position: center; background-size: contain;">
            </div>
            <div class="profile_img_txt">
                <span>Profile</span>
            </div>
        </a>
        <!--  -->
    </div>
    <!--  -->
</nav>